{% extends 'core/base.html' %}
{% load static %}
{% block title %}Iniciar sesión{% endblock %}
{% block content %}
<main class="inicio-sesion-margen">
    <div class="container">
    <div class="row justify-content-center">
        <!--Inicio Formulario-->
        <div class="col-md-5 my-5">
        <div class="contenedorFormularioInicio">
                <form class="d-flex flex-column" action="" method="POST"> {% csrf_token %}
                    <h2 class="tituloForm2 h1">Iniciar Sesion</h2>            

                <!--Nombre Usuario-->
                <div class="form3">
                <label for="usuario">Nombre de Usuario</label>
                <br>
                <input type="text" id="id_username" name="username" class="form4" autofocus required>
                </div>

                <!--Contrasena-->
                <div class="form3">
                <label for="usuario">Contraseña</label>
                <br>
                <input type="password" id="id_password" name="password" class="form4" required>
                </div>

                <div class="contCheck">
                    <p> <input type="checkbox"> Recordarme</p>
                </div>
                <button type="submit" class="button2">Iniciar Sesion</button>
                {% if form.non_field_errors %}
                    <div class="alert alert-primary mt-3 alert-success" role="alert">
                        Usuario o contraña incorrectos, vuelva a intentarlo.
                    </div>
                {% endif %}
                {% if 'register' in request.GET %}
                    <div class="alert alert-primary mt-3 alert-success" role="alert">
                        Usuario registrado correctamente!
                    </div>
                {% endif %}
                </form>
                <!--Fin Formulario-->
        </div>
        </div>
    </div>
</div>
</main>

{% endblock %}
